<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Битонная сортировка{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        {% if session.username %}
        <span>👋 {{ session.username }}</span>
        <a href="{{ url_for('main') }}">Главная</a>
        <a href="{{ url_for('logout') }}">Выход</a>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'error' }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <small>Чибис Семён, группа 443 | Лабораторная №3</small>
    </footer>
</body>
</html>
